@{
    ViewData["Title"] = "  Day 1 ";
}
<h1> <center>@ViewData["Title"]</center></h1>



<div>
    <h3> Lecture </h3>
    <ul>
        <li>
            MVC Life Cycle
        </li>
        <li>     Application Life Cycle </li>
        <li>   Request Life Cycle </li>
    </ul>
</div>

<div>
    <h3>
        Lab
    </h3>
    <ul>
        <li>     Bilder </li>
        <br />
    </ul>




</div>
